
.section-box{
  display: flex;
  background-image: linear-gradient(to right bottom, var(--color-gray-lighten-t),var(--color-gray-light-t));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.features{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-feature{
  margin-top: 2rem;
  width: 25%;
  background-color: var(--color-gray-light);
  border-radius: .3rem;
  display: flex;
  flex-direction:  column;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: transform 0.3s, box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  .ft-img{
    width: 100%;
  }
  .feature-title{
    color: var(--color-gray-light);
    background-color: var(--color-secondary);
    padding: .5em;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-dark-t);
  }
}

.box-feature:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-mini-feature{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  .box-icon{
    display: flex;
    justify-content: center;
    flex: 0 0 30%;
    border-right: 1px solid var(--color-gray-dark-t);
    padding: .5em;
  }

  .text-feature{
    display: flex;
    justify-content: flex-start;
    flex: 0 0 70%;
    padding-left: 1em;
    font-size: 80%;
    font-weight: 400;
    color: var(--color-gray-darkness-t);
  }
}



/* Big tablets to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){
}

@media only screen and (max-width:1024px){
  .box-feature{
    width: 40%;
  }

}

/*small phones to  small tablets from 481px to 767px*/
@media only screen and (max-width:767px){
  .box-feature{
    width: 70%;
  }
}

/*small phones 0 to 480px*/
@media only screen and (max-width:480px){
}
