

.homepage-hero-module{
  border-right: none;
  border-left: none;
  position: relative;
  display: flex;
  height: 100vh;

  .video-container {
      position: relative;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;

      .poster img {
        width: 100%;
        top: 0;
        position: absolute;
      }

      .filter{
        z-index: 100;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
      }

     .filter-bg{
       z-index: 90;
       position: absolute;
       width: 100%;
       background-image:linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
       background-size: cover;
       height: 100vh;
       opacity: .90;
     }
  }

}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}



/*---------------------
------..HEADER..--------
----------------------*/




	video{
	    background-size: cover;
	    top: 0;
	    height: auto;
	    min-height: 100%;
	    min-width: 100%;
	    position: fixed;
	    right: 0;


	    z-index: -100;
	}

/*.hidden{
  display:none;
}
*/

.title-box{
  /*
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: .5rem 0 3rem 0;
  .social-links{
    width: 30%;
  }
  h1{
    //width: 50%;
    flex: 0 0 40%;
  }
*/
width: 100%;
display: grid;
align-items: center;
justify-content:space-around;
grid-template-columns: minmax(30%, 40%) minmax(25%, 30%);
margin: 1rem 0 4rem 0;
}

////////////
// Mainnav
.main-menu{
  width: 100%;
  display: flex;
  .navigation-box{
    display: flex;
    flex: 0 0 70%;
    flex-direction: row;
    list-style: none;
    justify-content:space-around;
    margin: 1.5rem 0;
    align-items: center;
    flex-wrap: wrap;
    a{
      &:visited, &:link{
        color: var(--color-gray-lighten-t);
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.3s;
        padding-bottom: .5em;

      }
      &:hover, &:active{
        color:var(--color-gray-light);
        border-bottom: 2px solid var(--color-secondary-light);
      }
    }
  }
}

////////////
// Stickynav

.sticky .navigation-box{
  justify-content:justify-content;
  margin: .36rem 1.5rem;
  flex: 0 0 35%;
}


.sticky{
  position: fixed;
  top:0;
  left:0;
  flex: 0 0 100%;
  background-color: var(--color-primary-dark);
  justify-content: flex-start;
  box-shadow: 0 1px 2px var(--color-gray-dark-t);
  z-index: 9999;
}

.subtitle{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem 0 3rem 0;
  margin: 0;
}

/* Big tablets to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){

  .title-box{
    h1{
      //width: 100%;
      align-content: center;
      text-align:center;
    }
  }

}

@media only screen and (max-width:1024px){
  video{
    width: auto;
  }


.homepage-hero-module{
  .video-container{
    .filter{
    justify-content: space-around;
    }
  }
}


.sticky .navigation-box{
  margin: .50rem 1.5rem;
  flex: 0 0 50%;
}

}

/*small phones to  small tablets from 481px to 767px*/
@media only screen and (max-width:767px){
.main-menu
{
  width: 100%;
  .navigation-box{
    li{
      //width: 100%;
      font-size: 90%;
      text-align: center;
    }
  }
}

.title-box{
  //align-items: center;
  grid-template-columns: 80%;
/*
  margin: .5rem 0;
  .social-links{
    width: 100%;
  }
*/
}

.sticky .navigation-box{
  margin: .80rem 1.5rem;
  flex: 0 0 70%;
}



}

/*small phones 0 to 480px*/
@media only screen and (max-width:480px){
  .filter{
    align-items: center;
  }

  .social-links{
    margin-top: 1.5rem;
  }
  /*nav{
    width: 50%;
  }*/

  .main-menu {
    .navigation-box{
    font-size: 80%;
    flex: 0 0 100%;
    margin: 0;
    }
  }

h1, h2{
      font-size: 150%;
}
.navigation-box{
 margin: 0;
}

.sticky .navigation-box{
  margin: .80rem 1.5rem;
  flex: 0 0 85%;

    a{
      &:visited, &:link{
        padding-bottom: .8rem;
      }

      &:hover, &:active{
        color:var(--color-gray-light);
        border-bottom: 2px solid var(--color-secondary-light);
      }
    }
}


}
