
.title-box{
    justify-content: center;
    align-content: center;
}

.navigation-box{
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, minmax(min-content,max-content));
  grid-column-gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.social__icon{
  align-items: center;
  height: 1.3rem;
  width: 1.3rem;
  transition: transform .3s, fill .2s;
  fill: var(--color-gray-lighten-t);
}

.social__icon:hover{
transform: translateY(-2px);
fill: var(--color-gray-light);
}


/* Big tablets to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){

  .title-box{
    h1{
      text-align:center;
    }
  }

}

@media only screen and (max-width:1024px){

}

/*small phones to  small tablets from 481px to 767px*/
@media only screen and (max-width:767px){

.title-box{
  //align-items: center;
  grid-template-columns: 80%;
/*
  margin: .5rem 0;
  .social-links{
    width: 100%;
  }
*/
}


}

/*small phones 0 to 480px*/
@media only screen and (max-width:480px){
  .social-links{
    margin-top: 1.5rem;
  }




}
