
/* You can add global styles to this file, and also import other style files */
@import "base";
@import "layout";


/* ---------------------------------------------------*/
/* Basic Setup */
/* ---------------------------------------------------*/


h1,h2,h3,h4,h5,h6{
  margin: 0;
  color: #555555;
}

/* -------- Headings -------- */

h1,
h2,
h3,
h4{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1{
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
}

h2{
  color: #fff;
  font-size: 175%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
}

a{
    text-decoration: none;

  &:visited, &:link{
    color: var(--color-gray-light);
  }

  &:hover, &:active{
    color: var(--color-gray-lighten-t);
  }

}

.feature__icon{
  align-items: center;
  height: 1.3rem;
  width: 1.3rem;
  fill: var(--color-gray-dark);
}

/*
#linkedin:hover{
  fill:#0077B5;
}

#github:hover{
  fill:#c9510c;
}

#twitter:hover{
  fill:#55acee;
}

#instagram:hover{
  fill:#e4405f;
}
*/

/*---------------------
------..HEADER..--------
----------------------*/


.title-main{
 font-size: 175%;
 word-spacing: .2rem;
color: var(--color-gray-dark);
}

.short-text{
  color: var(--color-gray-dark);
  line-height: 145%;
  width: 80%;
  //padding-bottom: 10rem;

}

.section-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  padding: 4rem 1rem;
}


/* ---------------------------------------------------*/
/* Animations */
/* ---------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4{
  opacity: 0;
}



/* Big tablets to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){
  .section-box{
    padding: 5rem 1rem;
  }
}

@media only screen and (max-width:1024px){
  .section-box{
    padding: 2rem .5rem;
  }

  .short-text{
    //padding-bottom: 7rem;
    width: 85%;
  }
}

/*small phones to  small tablets from 481px to 767px*/
@media only screen and (max-width:767px){



  body{
  font-size: 100%;
  }

  .title-main{
    font-size: 130%; ;
  }

  .section-box{
    padding: 2rem .5em;
  }

  .short-text{
    width: 85%;
    //padding-bottom: 4rem;
  }



}

/*small phones 0 to 480px*/
@media only screen and (max-width:480px){

  body{
  font-size: 100%;
  }

  .title-main{
    font-size: 150%;
    }


  .section-box{
    padding: 3rem .5em;
  }

  .short-text{
    width: 90%;
    //padding-bottom: 4rem;
  }


}
